*, h1, h2, h3, h4, h5{
  font-weight: 100
}

body{
  margin:0;
}

h4{
  color: #ced7d7;
  font-weight: 100;
  font-size: 15px;
  text-align: center;
  padding-top:10px;
}

.grid-item-img:hover{
  border: 10px solid rgb(68, 182, 223);
}
.grid-item-img{
  border: 2px solid transparent;
}

.thumbnailOverlay {
  position: relative;
  float: left;
  cursor: pointer;
}

.thumbnailOverlay:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: none;
  -moz-transition: background .2s linear;
  -webkit-transition: background .2s linear;
  -o-transition: background .2s linear;
  transition: background .2s linear;
}

.thumbnailOverlay:hover:before {
  border: 5px solid rgb(68, 182, 223);
}
.thumbnailOverlay:active:before {
  background: rgba(68, 182, 223, 0.36);
}

.clickableText:focus{
  outline: 2px solid #027aff;
}

.deleteIcon:hover{
  color: #f9b514;
}